#MagicPwd User Configure File!
###########################################################
# 界面视图配置
###########################################################
# 界面语言，默认与系统相同
magicpwd.lang=zh_CN
# 窗口是否总在最上，默认false
magicpwd.view.tops=true/false
# 是否显示菜单栏，默认true
magicpwd.menu=true/false
# 菜单栏显示位置，默认north
magicpwd.menu.loc=north/south/east/west
# 是否显示工具栏，默认false
magicpwd.view.tool.mexp=false/true
magicpwd.view.tool.mwiz=false/true
magicpwd.view.tool.mpad=false/true
# 工具栏显示位置(以mexp为例)，默认north
magicpwd.view.tool.mexp.loc=north/south/east/west
magicpwd.view.tool.mexp.mod=
magicpwd.view.tool.mexp.pos=
# 是否显示信息栏，默认true
magicpwd.view.info=true/false
# 是否显示查找栏，默认true
magicpwd.view.find=true/false
# 是否显示编辑面板，默认true
magicpwd.view.edit.viw=true/false
# 属性编辑面板是否为独立窗口，默认false
magicpwd.view.edit.wnd=false
# 口令列表排序依据
magicpwd.view.list.key=01
# 口令列表排序方式
magicpwd.view.list.asc=true/false
# 定时任务检测间隔，单位分钟，默认5
magicpwd.view.hint.int=5
# 任务提前提醒时间，单位分钟

###########################################################
# 界面皮肤配置
###########################################################
# 界面外观
magicpwd.skin.look=system.System
# 界面风格
magicpwd.skin.feel=default
# 导航窗口模式，默认guid
magicpwd.tray.ptn=guid/icon
# 导航窗口位置，仅罗盘时起作用
magicpwd.tray.loc=[0,0]
# 系统气泡提示次数，默认为-1
magicpwd.tray.hint.cnt=1

###########################################################
# 口令安全配置
###########################################################
# 系统默认口令字符集
magicpwd.pwds.hash=
# 系统默认口令字符长度
magicpwd.pwds.size=
# 系统自动生成口令时，是否允许字符重复出现
magicpwd.pwds.loop=
# 用户数据文件名称
magicpwd.safe.data=
# 用户数据目录
magicpwd.safe.data.dir=
# 系统自动备份数量
magicpwd.safe.dump.cnt=
# 系统自动备份目录
magicpwd.safe.dump.dir=
# 用户手动备份本地目录
magicpwd.safe.back.loc=
# 用户手动备份远程目录
magicpwd.safe.back.asc=
# 系统剪贴板中口令信息默认驻留时间，单位秒
magicpwd.safe.clip.dlt=
# 
magicpwd.mpad.wrap=