#MagicPwd Configure File!
###########################################################
#网易邮箱
###########################################################
#163免费邮
163.com.type=pop3
163.com.http=https://reg.163.com/logins.jsp?type=1&product=mail163&url=http://entry.mail.163.com/coremail/fcg/ntesdoor2?lightweight%3D1%26verifycookie%3D1%26language%3D-1%26style%3D-1&verifycookie=0&username={u}@163.com&password={p}&selType=-1
pop3.163.com=pop.163.com:-1:true:false
smtp.163.com=smtp.163.com:-1:true:false
#163收费邮
vip.163.com.type=pop
vip.163.com.http=http://vip.163.com
pop.vip.163.com=pop.vip.163.com::true:
smtp.vip.163.com=smtp.vip.163.com::true:
#163企业邮
#126邮箱
126.com.type=pop3
126.com.http=https://reg.163.com/logins.jsp?type=1&product=mail126&url=http://entry.mail.126.com/cgi/ntesdoor?hid%3D10010102%26lightweight%3D1%26verifycookie%3D1%26language%3D0%26style%3D-1&verifycookie=0&username={u}@126.com&password={p}&selType=-1
pop3.126.com=pop.126.com:-1:true:false
smtp.126.com=smtp.126.com:25:true:false
#yeah邮箱
yeah.net.type=pop3
yeah.net.http=https://reg.163.com/logins.jsp?type=1&product=mailyeah&url=http://entry.mail.yeah.net/cgi/ntesdoor?lightweight%3D1%26verifycookie%3D1%26style%3D-1&verifycookie=0&username={u}@yeah.net&password={p}&selType=-1
pop3.yeah.net=pop.yeah.net:-1:true:false
smtp.yeah.net=smtp.yeah.net:-1:true:false
#188邮箱
188.com.type=pop
188.com.http=http://www.188.com
pop.188.com=pop.188.com::true:
smtp.188.com=smtp.188.com::true:
#163
netease.com.type=pop3
netease.com.http=
pop3.netease.com=pop.netease.com::true:
smtp.netease.com=smtp.netease.com::true:
###########################################################
#腾讯邮箱
###########################################################
#QQ邮箱
qq.com.type=imap
qq.com.http=https://mail.qq.com/cgi-bin/login?sid=,2,zh_CN&uin={u}&p={p}&pp={p}&aliastype=qq.com&ts={t1}&starttime={t2}&ept=0
imap.qq.com=imap.qq.com:993:true:true
smtp.qq.com=smtp.qq.com:465:true:true
#Foxmail邮箱
foxmail.com.type=pop3
foxmail.com.http=https://mail.qq.com/cgi-bin/login?sid=,2,zh_CN&uin={u}&p={p}&pp={p}&aliastype=foxmail.com&ts={t1}&starttime={t2}&ept=0
pop3.foxmail.com=pop.qq.com::true:
smtp.foxmail.com=smtp.qq.com::true:
###########################################################
#新浪邮箱
###########################################################
#新浪免费邮
sina.com.type=pop3
sina.com.http=http://mail.sina.com.cn
pop3.sina.com=pop.sina.com::true:
smtp.sina.com=smtp.sina.com::true:
#新浪中国邮
sina.cn.type=imap
sina.cn.http=http://mail.sina.cn
pop3.sina.cn=pop.sina.cn::true:
imap.sina.cn=imap.sina.cn::true:
smtp.sina.cn=smtp.sina.cn::true:
#新浪收费邮
vip.sina.com.type=pop3
vip.sina.com.http=http://vip.sina.com.cn
pop3.vip.sina.com=pop.vip.sina.com::true:
smtp.vip.sina.com=smtp.vip.sina.com::true:
#新浪企业邮
sina.net.type=pop3
sina.net.http=http://mail.sina.net
pop3.sina.net=pop.sina.net::true:
smtp.sina.net=smtp.sina.net::true:
###########################################################
#搜狐邮箱
###########################################################
#搜狐免费邮
sohu.com.type=pop3
sohu.com.http=http://mail.sohu.com
pop3.sohu.com=pop.sohu.com::true:false
smtp.sohu.com=smtp.sohu.com::true:false
#搜狐收费邮
vip.sohu.com.type=pop3
vip.sohu.com.type=http://mail.sohu.com
pop3.vip.sohu.com=pop.vip.sohu.com::true:
smtp.vip.sohu.com=smtp.vip.sohu.com::true:
#搜狐企业邮
sohu.net.type=pop3
sohu.net.http=
pop3.sohu.net=pop.sohu.net::true:
smtp.sohu.net=smtp.sohu.net::true:
#搜狗邮箱
sogou.com.type=pop3
pop3.sogou.com=pop.sogou.com:::
smtp.sogou.com=smtp.sogou.com:::
###########################################################
#谷歌邮箱
###########################################################
gmail.com.type=imap
pop3.gmail.com=pop.gmail.com:995:true:true
imap.gmail.com=imap.gmail.com:993:true:true
smtp.gmail.com=smtp.gmail.com:465:true:true
###########################################################
#微软邮箱
###########################################################
#Live邮箱
live.com.type=pop3
pop3.live.com=pop3.live.com:995:true:true
smtp.live.com=smtp.live.com:25:true:true
#Hotmail邮箱
hotmail.com.type=pop3
pop3.hotmail.com=pop.live.com:995:true:true
smtp.hotmail.com=smtp.live.com:25:true:true
###########################################################
#雅虎邮箱
###########################################################
#yahoo.cn
yahoo.cn.type=pop3
yahoo.cn.http=
pop3.yahoo.cn=pop.mail.yahoo.cn:995:true:true
smtp.yahoo.cn=smtp.mail.yahoo.cn:465:true:true
#yahoo.com
yahoo.com.type=pop3
pop3.yahoo.com=plus.pop.mail.yahoo.com:995:true::true
smtp.yahoo.com=plus.smtp.mail.yahoo.com:465:true::true
#yahoo.com.cn
yahoo.com.cn.type=pop3
yahoo.com.cn.http=http://cn.mail.yahoo.com
pop3.yahoo.com.cn=pop.mail.yahoo.com.cn:995:true:true
smtp.yahoo.com.cn=smtp.mail.yahoo.com.cn:465:true:true
#yahoo.com.au
yahoo.com.au.type=pop3
pop3.yahoo.com.au=pop.mail.yahoo.com.au::true:
smtp.yahoo.com.au=smtp.mail.yahoo.com.au::true:
#yahoo.com.ar
yahoo.com.ar.type=pop3
pop3.yahoo.com.ar=pop.mail.yahoo.com.ar::true:
smtp.yahoo.com.ar=smtp.mail.yahoo.com.ar::true:
#yahoo.com.br
yahoo.com.br.type=pop3
pop3.yahoo.com.br=pop.mail.yahoo.com.br::true:
smtp.yahoo.com.br=smtp.mail.yahoo.com.br::true:
#yahoo.com.mx
yahoo.com.mx.type=pop3
pop3.yahoo.com.mx=pop.mail.yahoo.com.mx::true:
smtp.yahoo.com.mx=smtp.mail.yahoo.com.mx::true:
#yahoo.com.hk
yahoo.com.hk.type=pop3
pop3.yahoo.com.hk=pop.mail.yahoo.com.hk::true:
smtp.yahoo.com.hk=smtp.mail.yahoo.com.hk::true:
#yahoo.com.tw
yahoo.com.tw.type=pop3
pop3.yahoo.com.tw=pop.mail.yahoo.com.tw::true:
smtp.yahoo.com.tw=smtp.mail.yahoo.com.tw::true:
#yahoo.co.uk
yahoo.co.uk.type=pop3
pop3.yahoo.co.uk=pop.mail.yahoo.co.uk::true:
smtp.yahoo.co.uk=smtp.mail.yahoo.co.uk::true:
#yahoo.co.kr
yahoo.co.kr.type=pop3
pop3.yahoo.co.kr=pop.mail.yahoo.co.kr::true:
smtp.yahoo.co.kr=smtp.mail.yahoo.co.kr::true:
#yahoo.co.jp
yahoo.co.jp.type=pop3
pop3.yahoo.co.jp=pop.mail.yahoo.co.jp::true:
smtp.yahoo.co.jp=smtp.mail.yahoo.co.jp::true:
#yahoo.ca
yahoo.ca.type=pop3
pop3.yahoo.ca=pop.mail.yahoo.ca::true:
smtp.yahoo.ca=smtp.mail.yahoo.ca::true:
#yahoo.de
yahoo.de.type=pop3
pop3.yahoo.de=pop.mail.yahoo.de::true:
smtp.yahoo.de=smtp.mail.yahoo.de::true:
#yahoo.dk
yahoo.dk.type=pop3
pop3.yahoo.dk=pop.mail.yahoo.dk::true:
smtp.yahoo.dk=smtp.mail.yahoo.dk::true:
#yahoo.fr
yahoo.fr.type=pop3
pop3.yahoo.fr=pop.mail.yahoo.fr::true:
smtp.yahoo.fr=smtp.mail.yahoo.fr::true:
#yahoo.es
yahoo.es.type=pop3
pop3.yahoo.es=pop.mail.yahoo.es::true:
smtp.yahoo.es=smtp.mail.yahoo.es::true:
#yahoo.it
yahoo.it.type=pop3
pop3.yahoo.it=pop.mail.yahoo.it::true:
smtp.yahoo.it=smtp.mail.yahoo.it::true:
#yahoo.se
yahoo.se.type=pop3
yahoo.se.http=
pop3.yahoo.se=pop.mail.yahoo.se::true:
smtp.yahoo.se=smtp.mail.yahoo.se
#yahoo.no
yahoo.no.type=pop3
yahoo.no.http=http://no.mail.yahoo.com
pop3.yahoo.no=pop.mail.yahoo.no::true:
smtp.yahoo.no=smtp.mail.yahoo.no::true:
###########################################################
#TOM邮箱
###########################################################
#TOM免费邮
tom.com.type=pop3
tom.com.http=http://mail.tom.com
pop3.tom.com=pop.tom.com::true:
smtp.tom.com=smtp.tom.com::true:
#TOM企业邮
163vip.net.type=pop3
163vip.net.http=http://vip.tom.com
pop3.163vip.net=pop.163vip.net::true:
smtp.163vip.net=smtp.163vip.net::true:
#TOM收费邮（163.NET）
163.net.type=pop3
pop3.163.net=pop.163.net::true:
smtp.163.net=smtp.163.net::true:
###########################################################
#21世纪邮箱
###########################################################
21cn.net.type=pop3
pop3.21cn.net=pop.21cn.net:::
smtp.21cn.net=smtp.21cn.net:::
imap.21cn.com=imap.21cn.com:::
21cn.com.type=pop3
pop3.21cn.com=pop.21cn.com:::
smtp.21cn.com=smtp.21cn.com:::
vip.21cn.com.type=pop3
pop3.vip.21cn.com=vip.21cn.com:::
smtp.vip.21cn.com=vip.21cn.com:::
###########################################################
#139邮箱
###########################################################
139.com.type=pop3
pop3.139.com=pop.139.com:::
smtp.139.com=smtp.139.com:::
#china.com
china.com.type=pop
pop.china.com=pop.china.com:::
smtp.china.com=smtp.china.com:::
eyou.com.type=pop3
pop3.eyou.com=pop3.eyou.com:::
smtp.eyou.com=mx.eyou.com:::
263.net.type=pop
263.net.http=http://www.263.net
pop.263.net=pop.263.net:::
smtp.263.net=smtp.263.net:::
263.net.cn.type=pop3
pop3.263.net.cn=263.net.cn:::
smtp.263.net.cn=263.net.cn:::
x263.net.type=pop
pop.x263.net=pop.x263.net:::
smtp.x263.net=smtp.x263.net:::
263xmail.com.type=pop
pop.263xmail.com=pop.263xmail.com:::
smtp.263xmail.com=smtp.263xmail.com:::
xinhuanet.com.type=pop
pop.xinhuanet.com=pop.xinhuanet.com:::
smtp.xinhuanet.com=smtp.xinhuanet.com:::
56.com.type=pop3
56.com.http=http://mail.56.com
pop3.56.com=pop3.56.com:::
smtp.56.com=smtp.56.com:::
etang.com.type=pop
pop.etang.com=pop.etang.com:::
smtp.etang.com=smtp.etang.com:::
elong.com.type=pop3
pop3.elong.com=pop3.elong.com:::
smtp.elong.com=smtp.elong.com:::
